.banner-carousel {

    .carousel-indicators {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin: 0 2% 0 15%;
        
        [data-bs-target] {opacity: 1;}

        .active {background-color: $cerulean-blue;}

        button {
            height: 1rem;
            width: 1rem;
            border-radius: 100%;

            @include breakpoint-up-md {
                height: 1.5rem;
                width: 1.5rem;
            }

        }
    }

    .image {
        background-size: cover;
        min-height: 17rem;
        background-position: right;
        
        @include breakpoint-up-lg {min-height: 22rem;}

        @include breakpoint-up-xxl {min-height: 24rem;}

        @include breakpoint-up-1920 {min-height: 33rem;}

    }

    .carousel-item:nth-child(2),
    .carousel-item:nth-child(3) {
        .content {
            
            h4 {
                font-size: 1.125rem;
                color: rgba($black, 0.6);
            }

        }
    }

    .content {
        padding: 4rem 2rem;
        border-radius: 5.375rem;
        background-color: rgba($white, 0.8);

        @include media-breakpoint-up(lg) {padding: 4rem 5rem;}

        h4 {
            font-size: 1rem;
            color: rgba($black, 0.9);
            font-weight: 700;
            text-transform: uppercase;

            @include media-breakpoint-up(md) {font-size: 1.25rem;}

        }

        h1 {
            font-size: 1.5rem;
            color: $cerulean-blue;
            line-height: 1.1;
            font-weight: 800;

            @include media-breakpoint-up(md) {font-size: 2.5rem;}

            @include media-breakpoint-up(lg) {font-size: 3.4rem;}

        }

        p {
            color: $tundora-grey;
            font-family: 'proxima-nova', sans-serif;
            font-weight: 500;
            font-size: 1.1rem;
            
            @include media-breakpoint-up(md) {font-size: 1.2rem;}

            @include media-breakpoint-up(lg) {font-size: 1.5rem;}

        }

        .btn {
            padding: 0.4rem 0.6rem;

            @include media-breakpoint-up(md) {
                padding: 0.75rem 2.5rem;
            }

        }

    }

}