.banner-carousel {

    .carousel-indicators {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin: 0 2% 0 15%;
        
        [data-bs-target] {
            opacity: 1;
        }

        .active {
            background-color: $cerulean-blue;
        }

        button {
            height: 1rem;
            width: 1rem;
            border-radius: 100%;

            @include breakpoint-up-md {
                height: 1.5rem;
                width: 1.5rem;
            }

        }
    }

    .image {
        background-size: cover;
        min-height: 17rem;
        background-position: right;
        
        @include breakpoint-up-lg {
            min-height: 22rem;
        }

        @include breakpoint-up-xxl {
            min-height: 26rem;
        }

        @include breakpoint-up-1920 {
            min-height: 33rem;
        }

    }

}