.icon-info-row {
    .icon-row {

        .icon-anchor {
            display: block;
            text-decoration: none;
        }

        .title {
            display: block;
            text-align: center;
            margin: 1.5rem 0;
            font-size: 1.5rem;
            font-family: 'proxima-nova', sans-serif;
            font-weight: 700;
            color: rgba($black, 0.9);

            @include media-breakpoint-up(md) {
                font-size: 2rem;
            }

        }

        .text {
            margin: 0 auto;
            width: 82%;

            p {
                font-size: 1rem;
                text-align: center;
                color: rgba($black, 0.6);

                @include media-breakpoint-up(md) {
                    font-size: 1.313rem;
                }

            }

        }

        .icon {
            border-radius: 100%;
            background-color: $lynx-white;
            padding-bottom: 34%;
            width: 34%;
            margin: 0 auto;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 34%;
                transform: translate(-50%, -50%);
            }

        }

        .icon-link {
            @extend .icon;
            background-color: rgba($gallery-white, 0.5);
            padding-bottom: 4rem;
            width: 4rem;

            img {
                width: 15%;

                @include breakpoint-up-num(1920px) {width: 20%;}
            }

        }

    }
}