.icon-info-row {
    h2 {
        font-weight: 700;
        font-size: 1.5rem;
        color: $cerulean-blue;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 3rem;
        }

    }
}