$cerulean-blue:     #255CB3;
$white:             #FFFFFF;
$black:             #000000;
$tundora-grey:      #4D4D4D;
$alabaster-white:   #F9F9F9;
$mine-shaft-grey:   #212121;
$athens-grey:       #e9ecef;
$lynx-white:        #F7F7F7;
$gallery-white:     #F0F0F0;
$cod-grey:          #191919;
$dove-grey:         #707070;