#main-footer {

    #logos {

        .inner {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            width: 78%;

            #iso-logos {
                margin-top: 5rem;
            }

        }

    }

    #contact {

        address p,a {
            color: rgba($white, 0.7);
            font-family: 'open-sans', sans-serif;
            font-size: 18px;
            text-decoration: none;
            transition: opacity 0.3s ease-in-out;
        }
        
        address a:hover {opacity: 0.5;}

        .social {
            margin-top: 2rem;
            transition: opacity 0.3s ease-in-out;

            a:hover {opacity: 0.7;}
        }

    }

    .bottom-bar {
        background-color: $black;
        padding: 2rem 0;

        .container {
            @include breakpoint-up-xxl {
                max-width: 1595px;
            }
        }

        #bottom-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p,a {
                color: rgba($white, 0.6);
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 18px;
                text-decoration: none;
                transition: opacity 0.3s ease-in-out;
                margin-bottom: 0;
            }
    
            a:hover{opacity: 0.4;}
        }

    }

}