#main-footer {

    #logos {

        .inner {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            #iso-logos {
                margin: 2rem 0;
            }

            @include media-breakpoint-up(md) {
                width: 78%;
                align-items: flex-end;

                #iso-logos {
                    margin: 5rem 0 0;
                }

            }

        }

    }

    #contact {

        @include media-breakpoint-down(md) {
            address {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }

        address p,a {
            color: rgba($white, 0.7);
            font-family: 'open-sans', sans-serif;
            font-size: 18px;
            text-decoration: none;
            transition: opacity 0.3s ease-in-out;
        }
        
        address a:hover {opacity: 0.5;}

        .social {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            transition: opacity 0.3s ease-in-out;

            @include media-breakpoint-up(md) {
                display: block;
            }

            a:hover {opacity: 0.7;}
        }

    }

    .bottom-bar {
        background-color: $black;
        padding: 2rem 0;

        .container {
            @include media-breakpoint-up(xxl) {
                max-width: 1595px;
            }
        }

        #bottom-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            @include media-breakpoint-up(md) {
                flex-direction: row;
            }

            p,a {
                color: rgba($white, 0.6);
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 18px;
                text-decoration: none;
                transition: opacity 0.3s ease-in-out;
                margin-bottom: 0;
            }

            p:last-child {
                margin-top: 1rem;

                @include media-breakpoint-up(md) {
                    margin-top: 0;
                }

            }
    
            a:hover{opacity: 0.4;}
        }

    }

}