.top-bar {
    padding: 0.5rem 0.8rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 4px;
        width: 61rem;
        border-bottom: 1px solid rgba($cerulean-blue, 0.1);

        @include breakpoint-up-lg {
            right: 14px;
            width: 37rem;
        }

    }

    &.open::after {
        width: 61rem;

        @include breakpoint-up-lg {
            width: 55rem;
        }

    }

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        @include breakpoint-up-lg {
            flex-wrap: nowrap;
            justify-content: flex-end;
        }

        a {
            margin: 0.5rem;
            text-decoration: none;
            font-family: 'proxima-nova', sans-serif;
            font-size: 0.75rem;
            font-weight: 500;
            color: $cerulean-blue;
            transition: opacity 0.3s ease-in-out;

            @include breakpoint-up-sm {
                font-size: 1rem;
            }

            @include breakpoint-up-lg {
                margin: 0 2.5rem 0 0;
                font-size: 1.125rem;
            }

            &:hover{opacity: 0.8;}
        }

        i {color: $cerulean-blue;}

        .search-form {
            @include breakpoint-down-lg {
                margin-bottom: 0.5rem;
            }

            input {
                background-color: $alabaster-white;
                border-radius: 0;
                font-family: 'proxima-nova', sans-serif;
                padding: 0.375rem 6rem 0.375rem 1rem;

                &.search-form-wrapper {
                    display: none;

                    &.open {
                        display: block;
                    }

                }
            }

            ::-webkit-input-placeholder {
                color: rgba($black, 0.6);
            }
            ::-moz-placeholder {
                color: rgba($black, 0.6);
            }
            :-moz-placeholder {
                color: rgba($black, 0.6);
            }
            :-ms-input-placeholder {
                color: rgba($black, 0.6);
            }

            button[type="submit"] {
                background-color: $alabaster-white;
            }

        }

    }

}

.navigation {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;

    .navbar-brand {
        margin-left: 2rem;

        @include breakpoint-between-xl-xxl {
            margin-left: 0;
        }

        .logo {
            width: 75%;

            @include breakpoint-up-xxl {
                width: 100%;
            }

        }

    }

    .navbar-nav {

        li {
            margin: 0.5rem;

            @include breakpoint-up-xl {
                margin: 0;
            }

            @include breakpoint-up-1400 {
                margin: 0.4rem;
            }

            &.dropdown {

                .dropdown-menu {
                    border: 0;
                    border-radius: 0;
                    box-shadow: 0px 2px 1px #00000029;

                    .dropdown-item {
                        color: rgba($black, 0.6);
                        font-size: 1.125rem;
                        font-weight: 700;

                        &:active {background-color: $athens-grey;}

                    }

                }

                @include breakpoint-up-xl {
                    &:hover > .dropdown-menu,
                    &:hover > .dropdown {
                        display: block;
                    }

                    &:hover {
                        .nav-link {
                            i.icon-dropdown-arrow {
                                transform: rotate(180deg);
                            }
                        }
                    }

                }

                .nav-link {
                    
                    i.icon-dropdown-arrow {
                        font-size: 0.5rem;
                        margin-left: 5.355px;
                        opacity: 0.6;
    
                        @include breakpoint-up-xl {
                            margin-left: 8.355px;
                        }

                        @include breakpoint-up-1400 {
                            margin-left: 6.355px;
                        }

                        @include breakpoint-up-xxl {
                            margin-left: 8.355px;
                        }
    
                    }

                    &.show {
                        i.icon-dropdown-arrow {
                            transform: rotate(180deg);

                            @include breakpoint-between-xl-xxl {
                                margin-left: 6.355px;
                            }

                        }
                    }

                }

            }

            .nav-link {
                color: rgba($black, 0.7);
                text-transform: uppercase;
                font-size: 1rem;
                display: flex;
                align-items: center;
                transition: opacity 0.3s ease-in-out;

                @include breakpoint-up-1400 {
                    font-size: 1.125rem;
                }

                @include breakpoint-up-xxl {
                    font-size: 1.313rem;
                }

                &:hover {
                    opacity: 0.5;
                }
                
            }

        }

    }

}